.App {
  text-align: center;
}

.main-title {
  color: #c05d00;
  text-shadow: 1px 1px 1px black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container-tracks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box-track {
  width: 30vw;
  border-radius: 6px;
  padding-top: 14px;
}

.box-track:hover {
  background-image: url('./assets/giphy.gif');
  background-size: cover;
  box-shadow: 1px 1px 3px black;
}

.box-track:hover .text {
  color: #ff0000;
  text-shadow: 1px 1px 1px black;
}

.box-track:hover .title-track {
  text-shadow: 1px 1px 1px black;
}


.box-track:hover .image-track {
  box-shadow: 1px 1px 3px black;
}

.title-track {
  font-size: 1.1rem;
  color: #3d75c9;
}

.text {
  font-size: 0.9rem;
  color: #4b4b4b;
}

.image-track {
  width: 50%;
}

.text-final {
  color: #ff8800;
}

a {
  color: #ff8800;
  text-decoration: none;
  font-size: 1.08rem;
}

a:hover {
  color: #ff0000;
  text-shadow: 1px 1px 1px black;
}