.App {
  text-align: center;
}

.container-tracks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box-track {
  width: 30vw;
  background-color: crimson;
}

.image-track {
  width: 50%;
}